body {
  background-color: rgb(26, 83, 92);
  color: rgb(255, 230, 109);
  font-family: "Josefin Sans", sans-serif;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  margin-right: 10px;
}

h2 {
  text-align: center;
}

img {
  width: 60px;
  height: 80px;
}

button {
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 230, 109);
  border: solid 2px white;
  border-radius: 10px;
}

#title {
  text-align: center;
  font-size: 40px;
}

#div-moves {
  justify-content: center;
}

#div-score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  background-color: rgb(255, 230, 109);
  border: solid 2px white;
  border-radius: 10px;
  color: rgb(26, 83, 92);
}

#div-player-choice,
#div-cpu-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
